{% extends 'blog/base.html' %}
{% block content %}
    <h2>Latest Posts</h2>
    {% for post in posts %}
        <article class="post">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
            {% endif %}
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <p class="post-meta">Published on: {{ post.published_date }} by {{ post.author.username }}
                {% if post.category %}
                 | Category: <a href="{% url 'category_post_list' category_name=post.category.name %}">{{ post.category.name }}</a>
    {% endif %}
            </p>
            <p>{{ post.content|truncatewords:30 }}</p>
        </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
